docs/
k8s/
diagrams/
Dockerfile*
docker-compose*
compose*
Makefile
ARCHIVE/
CHANGELOG*
dist
logs/
tests/
src/
.venv/
backend/
tmp/
source_install/
.coveragerc
.gitignore
.coverage
*.ini
Pipfile
__pycache__/
.pytest_cache/
.idea/
.git/
.cache/
